@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}


.linea{
    background-color: #572EE5;
    height: 1vh;
    width: 100vw;
}

.navegador input[type="checkbox"],.label-nav, .close, .burger{
    position: absolute;  
    box-sizing: border-box;
    margin-right: 16px;
    padding: 0;
    right: 0;
    top: 8%;
}

label{
    width: 32px;
    height: 32px;
}
.logomobile{
    display: block;
    position: relative;
    width: 15%;
    height: 15%;
    left: 5%;
    margin-top:8%;
    margin-bottom: 5%;
}


.noc, .crear{
    display: none;
}

.navegador input[type="checkbox"] {
    opacity: 0; 
  }

.ul-nav{
    background: rgba(87,46,229,0.90);
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 2;
   
}
.ul-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 8%;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    border-bottom:1px solid #FFFFFF; 
    opacity: 0.5;
  
   
}



.navegador input:not(:checked)~ .ul-nav{
    max-height: 0;
    display: none;
}

.navegador input:checked~nav{
     display: block;
}

.navegador input:checked~ul{
    height: 100vh;
    padding-bottom: 5%;
}


.navegador input[type="checkbox"]:checked ~label .burger {
    display: none;

   
}
   
.navegador input[type="checkbox"]:not(:checked) ~label .close{
    display: none;

}

.main{
    position: absolute;
    z-index: 1;
}

.imgppal{
    width: 80%;
}


.title{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    width: 80%;
  
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    align-items: center;
  
}
.search{
    width: 95%; 
    border: #572EE5 1px solid;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    
}


.eachlupa{
    position: absolute;
    left: 10%;
    
}

.otra{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 25px;
}

/* .lupahover{
    fill: #9CAFC3;
    position: relative;
    left: 2%;
} */

.cerrarbusqueda{
    position: relative;
    left: 5%;
}

input[type= "search"]{
    border: none;
    padding:3% ;
    margin-bottom: 1%;
    width: 65vw;
    margin-left: 10%;


}
.lupita{
    width: 5%;
}

.sugerencia{
    list-style: none;
    margin: 5%;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin-left: 14%;

}
.sugerenciascontainer{
    width: 75vw;

}



.trending{
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 16px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin-top: 10%;
    margin-bottom: 0;
    width: 65%;

}

.lasttrending{
    background-color: #F3F5F8;
    height: auto;

}

.tendenciasActuales{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    
}

.trendingGifos{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
}

.comunidad{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    width: 60%;
    margin-left: 20%
}

footer{
    padding: 10%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;

}
.compartir{
    margin: 10%;

}

.favoritos, .misgifos{
    display: flex;
    flex-direction: column;
}
.favtitle, .mgtitle{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
}
.dnone{
    display: none;
}

.gallery{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;

}
.Slider{
    margin: 10%;
    max-width: 100vw;
    height: auto;
   

  
}
.gifcontainer, .mySlides{
    width: 50vw;
    margin: 5%;
    height: 30vh;
}

.mySlides{
    margin: 5%
}

.prev, .next {
    display: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.modal{
    position: fixed;
    width: 100vw;
    top: 0%;
    left: 0;
    background: rgba(255,255,255,0.90);
    height: 100vh;
}

.modal img{
   width: 90vw;  
   height: 60vh;
   margin: 5%;
   
}
.modal .cruz{
    margin-left: 90%;
    top:15%;
    right: 10%;
    height: 3.5%;
    margin-top: 10%;
    width: 3.5%;

}

/* .modal .like{
    height: 7%;
    bottom: 5%;
    width: 7%;
    right: 20%;
    position: absolute;
    margin-top: 5%;

}

.modal .download{
    height: 7%;
    bottom: 5%;
    width: 7%;
    right: 10%;
    position: absolute;
    margin-top: 5%;
    border: #572EE5 1px solid;
    border-radius: 6px;
} */

.giftitle{
    margin-left: 5%;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    text-align: center;
    width: 60%;
}
.resultados{
    display: flex;
    flex-flow: row wrap;
    max-width: 100vw;
}

.imgresultados{
    height: 120px;
    width: 45vw;
    margin: 2%;
}

.buscadotitle{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 25px;
    color: #572EE5;
    line-height: 40px;
    margin-left: 38%;
    align-self: center;


}

.vermas{
    order: 1;
    margin: 10%;
    z-index: 1;
}

@media screen and (min-width: 730px){
    .logomobile{
        height: 10%;
        width: auto;
        left: 10%;
        margin-top: 2%;
        display: inline-block;
    
    }

    .close, .burger, input[type="checkbox"]{
        display: none;
        opacity: 0;
        max-height: 0;
    }
    .navegador input:not(:checked)~ .ul-nav{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
        width: 582px;
        background: #FFFFFF 100%;
        margin-top: 2%;
        left: 50%;
        top: 2%;

    }

    .navegador .ul-nav li{
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        display: block;
        height: auto;
        margin-left: 3%;}
        
    .imgppal{
        width: 60%;
    }


    .prev, .next {
        display: block;
        cursor: pointer;
        position: absolute;
        width: auto;
        height: 10%;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        z-index: 1;
        transform: translateY(170%);
    } 

    .prev{
        display: block;

    }

    .day{
        right: 0%;
        display: inline-block;
        margin-top: 1%;
        margin-left: 9%;
    }
    .title{
        font-size: 35px;
        text-align: center;
        line-height: 50px;
        width: 60%;
    }
    .imgppal{
        width: 50%;
    }
    .search{
        padding: 0;
    }
    
    .gallery{
        width: 80vw;  
        margin-left: 10%; 
        height: 60vh;
    }

    .mySlides{
        height: 50vh;
        width: 23vw;
        margin: 0;
    }
    .lupita{
        width: 5%;
    }

    .trending{
        font-size: 18px;
        
        text-align: center;
        line-height: 25px;
    }

    footer{
        flex-direction: row;
        padding: 0;
    }
    .final{
        top:0;
    }
    .modal .like{
        border: #572EE5 1px solid;
        border-radius: 6px;
    }

    .hoverviolet{
        background-color: transparent;
        width: 23vw;  
        height: 50vh;
        z-index: 1;
        position: absolute;
        margin: 2%;
        top:0;
        left: 0;
        display: none;
       
    }
    .gifcontainer:hover .hoverviolet{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .hoverviolet:hover{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
   

    .gifcontainer .mySlides:hover, .hoverviolet:hover ~ .mySlides{
        opacity: 0.6;
    }


    .hoverviolet .violeticonshover{
        opacity: 0.7;
        background: #FFFFFF;
        border-radius: 6px;
        display: inline-block;
        height: 10%;
        right: 0;
        margin: 3%;
    }

    .violetfavactive{
        display: none;
    }


    .gifcontainer{
        margin: 2%;
        height: 50vh;
        position: relative;
        background-color: #572EE5;

    }

    .exph:hover, .dlh:hover, .favh:hover{
        opacity: 1;
    }

    .violettitle{
        font-family: "Roboto";
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        margin: 2%;
        position: absolute;
        bottom: 10%;
        left: 5%;

    }
    .violetuser{
        font-family: "Roboto";
        font-weight: 200;
        font-size: 15px;
        color: #FFFFFF;
        position: absolute;
        bottom: 23%;
        left: 5%;
        margin: 2%;
    }
/*  
    .hovervioleta:hover+ .violeticons:hover{
        display: block;
    } */


    }